### IntelliJ IDEA ###
*/.idea
.idea/*
!.idea/icon.png
!.idea/codeStyles
!.idea/copyright
!.idea/scopes
!.idea/externalDependencies.xml
!.idea/google-java-format.xml
!.idea/saveactions_settings.xml
!.idea/ay_git_commit_message_storage.xml
!.idea/ay_git_commit_scope_storage.xml
*.iws
*.ipr
*.iml
/*.log

### Mac ###
.DS_Store

### Gradle ###
.gradle
**/build/
!src/**/build/

### Project ###
/data/
/databackup/
!src/**/data/
logs/
!src/**/logs/
